.serviceContent {
  grid-column: container-start/container-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));

  gap: 2rem;
}

.serviceList {
  padding: 2rem;
  background-position: center;
  background-size: cover;
  transition: transform var(--transition-duration) ease-in-out;
}
.serviceList:hover,
.serviceList:active {
  transform: scale(1.05);
}

.serviceList > h2 {
  font-size: var(--font-size-title);
  padding: 0 2rem 1rem 0;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}

.serviceList > p {
  font-size: 2rem;
  margin: 1.5rem 0 4rem 0;
  color: white;
  font-weight: 500;
}

.serviceList > a:link,
.serviceList > a:visited {
  display: inline-block;
  margin-bottom: 2rem;
  background-color: white;
  color: var(--color-primary);
  z-index: 2;
  overflow: hidden;
}

.serviceList > a:hover,
.serviceList > a:active {
  color: white;
}

.serviceList > a:link::before {
  background-color: blue;
}

.serviceList > a:link::before,
.serviceList > a:visited::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0;
  z-index: -1;
  background-color: var(--color-secondary);
  transition: height var(--transition-duration) ease-in-out;
}

.serviceList > a:hover::before,
.serviceList > a:active ::before {
  height: 400%;
}

.serviceList:nth-child(n) > a:link::before,
.serviceList:nth-child(n) > a:visited::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.serviceList:nth-child(2n) > a:link::before,
.serviceList:nth-child(2n) > a:visited::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.serviceList:nth-child(1) {
  background: linear-gradient(
      var(--color-primary),
      var(--color-tertiary-m-light)
    ),
    url("./../../asset/img/services/webDesign.jpg");
  background-position: center;
  background-size: cover;
}
.serviceList:nth-child(2) {
  background: linear-gradient(
      var(--color-primary),
      var(--color-tertiary-m-light)
    ),
    url("./../../asset/img/services/graphicDesign.jpg");
  background-position: center;
  background-size: cover;
}
.serviceList:nth-child(3) {
  background: linear-gradient(
      var(--color-primary),
      var(--color-tertiary-m-light)
    ),
    url("./../../asset/img/services/diploma.jpg");
  background-position: center;
  background-size: cover;
}
.serviceList:nth-child(4) {
  background: linear-gradient(
      var(--color-primary),
      var(--color-tertiary-m-light)
    ),
    url("./../../asset/img/services/networking.jpg");
  background-position: center;
  background-size: cover;
}
.serviceList:nth-child(5) {
  background: linear-gradient(
      var(--color-primary),
      var(--color-tertiary-m-light)
    ),
    url("./../../asset/img/services/hardware.jpg");
  background-position: center;
  background-size: cover;
}
.serviceList:nth-child(6) {
  background: linear-gradient(
      var(--color-primary),
      var(--color-tertiary-m-light)
    ),
    url("./../../asset/img/services/accounting.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  .serviceContent {
    gap: 0;
  }
}

@media screen and (max-width: 600px) {
  .serviceContent p {
    font-size: 1.5rem;
    margin: 1.5 0 4rem 0;
  }
}

@media screen and (max-width: 400px) {
  .serviceContent {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}
