.bookingDate {
  grid-column: col-start 7 / center-end;
  padding: var(--padding-section);
   display: grid;
  /* grid-template-rows: repeat(2, 1fr); */
  
  
}
.bookingContent{
  
  min-height: auto; 
  margin-bottom: 1rem;
 
}
.bookingDate h2 {
  font-size: var(--font-size-title);
  padding: 0 2rem 1rem;
  font-weight: 300;
  position: relative;
}

.bookingDate p {
  color: var(--color-primary);
}

.missionImg {
 background-color: aquamarine;
 min-width: 250px; 
 max-height: 250px;  
 position: relative;   
 
 
}

.missionImg img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  
 
} 

@media screen and (max-width: 800px) {
  .bookingDate {
    padding: 4vh 3vw;
    grid-column: center-start / center-end;
    
  }
}
