/* Reset  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Anchor tags */
a:link,
a:visited {
  color: var(--color-quaternary);
  text-decoration: none;
  font-size: calc(0.5rem + 1vw);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  position: relative;
  transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
  z-index: 1;
}

/* Paragraphs */
p {
  color: white;
  font-size: calc(1rem + 1vw);
  font-weight: 200;
}

/* List Items */
li {
  list-style: none;
  margin-bottom: 4rem;
}

/* Icons */
i {
  font-size: var(--font-size-title);
  color: var(--color-secondary);
}

:root {
  font-size: 62.5%;

  /***************** Custom Properties *****************/

  /* Colors */
  --color-primary: #730039;
  --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
  --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);

  --color-secondary: #ffc513;
  --color-secondary-m-light: hsla(45, 100%, 54%, 0.55);
  --color-secondary-m-dark: rgba(255, 196, 19, 0.85);

  --color-tertiary: #ff724c;
  --color-tertiary-m-light: hsla(13, 100%, 65%, 0.55);
  --color-tertiary-m-dark: rgba(255, 115, 76, 0.85);

  --color-quaternary: #f6eedf;
  --color-quaternary-m-light: hsla(39, 56%, 92%, 0.55);
  --color-quaternary-m-dark: hsla(39, 56%, 92%, 0.85);

  /* Transtion Duration */
  --transition-duration: 0.3s;

  /* Section Title Font Size */
  --font-size-title: calc(2rem + 2vw);

  /* Section Padding */
  --padding-section: 8vh 3vw;
}

body {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.7;
  background-color: var(--color-quaternary);
}

@media screen and (max-width: 1000px) {
  /* all links */
  a:link,
  a:visited {
    font-size: calc(1rem + 1vw);
  }
}
